section.landing{
	padding-top: 3%;
	background-color: #0098ee;
	background-image: linear-gradient(-45deg, #0094e7 0%, #00c0ff 100%);
	overflow:hidden;
	.row.up{
		margin-top: -50px;
	}
	h2{
		color: white;
		font-weight: 100;
		font-size: 4em;
		margin-top: 3.5em;
	}
	p{
		color: white;
		font-weight: 300;
		font-size: 2em;
		line-height: 1.5em;
		margin-top: 1.5em;
		margin-bottom: 2em;
	}
	.storeDownload{
		margin-top: 7em;
		a{
			margin:0 1em 1em 0;
			&:hover{
				border-radius: 7px;
				box-shadow: 0 0 12px #636363;
			}
		}
	}
	.otherDownload{
		margin-top: 11em;
		height: 30px;
		span{
			float: left;
			display: inline-block;
			span{
				float: none;
			}
		}
		span.icWrap{
			width: 37px;
			span{
				margin:0 auto;
				display: block;
			}
		}
		span.otherDownload_text{
			color: white;
			font-weight: 700;
			font-size: 14px;
			line-height: 40px;
			margin-left: 1em;
			letter-spacing: 0.04em;
		}
		a{
			height: 30px;
			display: block;
			float: left;
			margin: 0 2em 1em 0;
			&:hover{
				text-decoration: none;
			}
		}

	}
}
// Phone
.bisu_app{
	margin-bottom: -5px;
}

@media (max-width: 768px) {
 section.landing{
 	h2{
 		margin-top: 2em;
 	}
 	.storeDownload, .otherDownload{
 		margin-top:1em;
 	}
 }
}

.landing ul.ic_socialWrapper {
	display: none;
	li a span.ic_social{
		border:none;
		background:rgba(255,255,255,0.2);
	}
}
.bisu_bisu{
	display: none;
	margin-top: 4px;
}
.landing .fixedBar.active{
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	width: 100%;
	min-height: 68px;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background:#0098ee;
	padding-top: 10px;
	ul.ic_socialWrapper{
		display: block;
		li a span.ic_social{
			margin-bottom: 5px;
		}
	}
	h1{
		.bisu_logo{
			display: none;
		}
		.bisu_bisu{
			display: block;
		}
	}
}
.notFixed{
	padding: 0!important;
	margin: 0 0 20px 0!important;
	.active{
		position: static!important;
	}
}
@media (max-width: 768px) {
	section.landing{
		max-height: 780px; 
	}
}

@media (max-width: 768px) {
  ul.ic_socialWrapper {
    display: none!important;
  }
}
